<div class="mb-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
            <label class="text-gray-500 font-bold text-right" for="Title">Title</label>
            <input class="w-full border-b-2 border-green-300 focus:border-green-600 focus:ring-transparent focus:outline-none" id="Title" name="Title" x-model="gift.title" />
        </div>
        <div>
            <label class="text-gray-500 font-bold text-right" for="Desc">Description</label>
            <input class="w-full border-b-2 border-green-300 focus:border-green-600 focus:ring-transparent focus:outline-none" id="Desc" name="Desc" x-model="gift.desc" />
        </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
            <label class="text-gray-500 font-bold text-right" for="Url">Url</label>
            <input class="w-full border-b-2 border-green-300 focus:border-green-600 focus:ring-transparent focus:outline-none" id="Url" name="Url" x-model="gift.url" />
        </div>
        <div>
            <label class="text-gray-500 font-bold text-right" for="Priority">Priority</label>
            <input class="w-full border-b-2 border-green-300 focus:border-green-600 focus:ring-transparent focus:outline-none" id="Priority" name="Priority" x-model="gift.priority" />
        </div>
    </div>
</div>