<section x-data="SecretSanta.createOrUpdateGift()" x-init="loadData()">
    @await Html.PartialAsync("_CreateOrEdit")
    <button class="border-2 bg-green-400 border-green-800 hover:bg-green-600 py-2 px-4 rounded-xl mr-3" @@click="update()">Update</button>
    <a :href="`https://localhost:5001/users/edit/${gift.userId}`">Cancel</a>
</section>