<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SecretSanta - @ViewBag.Title</title>
    <!-- Stylesheets -->
    <% for (var filename in htmlWebpackPlugin.files.css) { %>
    <link href="~<%= htmlWebpackPlugin.files.css[filename] %>" rel="stylesheet" />
    <% } %>
    <!-- End Stylesheets -->
</head>

<body>
    @RenderBody()

    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="index">Home</a></li>
            <li><a asp-controller="Users" asp-action="index">Users</a></li>
            <li><a asp-controller="Gifts" asp-action="index">Gifts</a></li>
            <li><a asp-controller="Groups" asp-action="index">Groups</a></li>
        </ul>
    </nav>

    <!-- Scripts -->
    <% for (var index in htmlWebpackPlugin.files.js) { %>
    <script src="~<%= htmlWebpackPlugin.files.js[index] %>"></script>
    <% } %>
    <!-- End Scripts -->
</body>

</html>
