@model List<UserViewModel>

@{int counter = 0;}

<section class="grid grid-cols-3">
    @foreach(var userViewModel in Model) {
    <section>
        @userViewModel.FirstName @userViewModel.LastName <a asp-action="Edit" asp-route-id=@counter>Edit</a>
            <form asp-action="Delete" asp-route-id=@counter method="post">
                <button onclick="return confirm('You are about to delete @userViewModel.FirstName @userViewModel.LastName. Are you sure you want to do this?');">X</button>
            </form>
        @{counter++;}
    </section>
    }
</section>

<a asp-action="Create">Create</a>